  <div class="content-wrapper" style="min-height: 1894.8px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3>Add Course</h3>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Layout</a></li>
              <li class="breadcrumb-item active">Courses</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><%= @program.name %></h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i></button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                    



              <div class="row">


              <div class="col-md-3">


          
                  <p>
                          <%= image_tag @program.image_url %>
                  </p>
       
                  <p>
                      <h5><strong><%= @program.name %></strong></h5>
                  </p>
          
                  
                  <p>
                    <strong>Level:</strong>
                    <%= @program.level %>
                  </p>

                  <p>
                    <strong>Lecturers:</strong>
                    <%= @program.lecturers %>
                  </p>
        



              </div>

              <div class="col-md-9">




              <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Description</a>

                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"> Pre-requisite</a>

                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="fas fa-file-pdf"></i> Syllabus</a>

                     <a class="nav-item nav-link" id="nav-lecture-tab" data-toggle="tab" href="#nav-lecture" role="tab" aria-controls="nav-lecture" aria-selected="false"><i class="fas fa fa-download"></i> Lectures</a>

                  </div>
                </nav>
                <div class="container-fluid">
                  <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"> <div>
                              <p>                        
                                <h5><strong>Description:</strong></h5><br>
                                  <%= @program.description %>
                                </p>
                                <br>


                                <p>
                                  <strong>Capacity:</strong>
                                  <%= @program.capacity %>
                                </p>

                                <p>
                                  <strong>Study Board:</strong>
                                  <%= @program.studyboard %>
                                </p>

                                <p>
                                  <strong>Faculty:</strong>
                                  <%= @program.faculty %>
                                </p>
                        </div>

                  </div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div>
                      <p>
                        <h5><strong>Pre-requisite:</strong></h5><br>
                        <%= @program.prerequisite %>
                      </p>
                      <br>
                      <p>
                        <strong>Literature:</strong>
                        <%= @program.literature %>
                      </p>

                      <p>
                        <strong>Faq:</strong>
                        <%= @program.faq %>
                      </p>

                    </div>


                  </div>

                  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                               <p class="text-lg">
                                  <h5><strong>The list of the course schedule is below:</strong></h5><br>
                               </p>
                                

                                <p>
                                  <strong>Syllabus:</strong>
                                  <%= @program.syllabus %>
                                </p>
                                <br>
                                <p>
                                  <strong>Hours:</strong>
                                  <%= @program.hours %>
                                </p>

                                <p>
                                  <strong>Skills:</strong>
                                  <%= @program.skills %>
                                </p>

                                <p>
                                  <strong>Workload:</strong>
                                  <%= @program.workload %>
                                </p>


                  </div>
                  <div class="tab-pane fade" id="nav-lecture" role="tabpanel" aria-labelledby="nav-lecture-tab">
                      <div>
                          <p class="text-lg">
                            <h5><strong>Lecture Materials:</strong></h5><br>
                          </p>
                      
                          <% @program.uploads.each do |upload| %>
                            <p>
                              
                              <%= link_to upload.filename, rails_blob_path(upload, disposition: :attachment) %>
                            </p>
                          <% end %>
                      </div>
                  </div>

               </div>






               </div>
               </div>



              </div>
              <!-- /.card-body -->
             
              <div class="card-footer">
              
                <%= link_to 'Edit', edit_program_path(@program), class: "btn btn-link" %> |
                <%= link_to 'Back', programs_path, class: "btn btn-link" %>
              </div>

            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>




